@model VivesRental.Model.Customer
    <div>
        <h3 style="text-align: center">Create customer</h3>
    </div>
<form method="post">
    <partial name="CreateEditCustomerPartial" model="Model"/>
    <div class="row text-center">
        <div class="col-12">
            <input type="submit" class="btn-lg btn-success" value="Create"/>
        </div>
    </div>
</form>