@model VivesRental.Model.Customer

<div>
    <h3 style="text-align: center">Edit customer</h3>
</div>
<div class="text-right">
    <button class="btn btn-danger" data-toggle="modal" data-id="Customer.Id" data-target="#myModal">
        Remove customer
    </button>
</div>
<div class="container">
    <div>
        <form method="post">
            <partial name="CreateEditCustomerPartial" model="Model" />

            <div class="text-center">
                <input type="submit" class="btn-lg btn-primary " value="Change" />
            </div>
        </form>
    </div>

</div> 

    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Ben je zeker dat je deze klant wilt verwijderen?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <form method="post" asp-action="Delete" asp-controller="Customer">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">nee</button>
                    <input type="submit" class="btn btn-light" value="ja" />
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts
{

    <script>
        //JQUERRY
        // als mijn pagina geladen is
        $(function() {
            //Rigistreer de click events op de delete button
            $(".deleteButton").on("click",
                function() {
                    //wanneer er op de knop delete is geklikt doe....
                    var customerId = $(this).data("id");
                    //Stop de personId id in from
                    $("#CustomerId").val(customerId);
                });
        });
    </script>
}