@model VivesRental.Model.Customer


<h1>edit</h1>


<form method="post">

    <partial name="CreateEditCustomerPartial" model="Model"/>

    <input type="submit" class="btn btn-primary" value="Change"/>

</form>