@model CustomerOrderViewModel

<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>

<div class="jumbotron container">
    <div class="container text-center">
        <h1 class="font-weight-bold text-danger">Vives Rental</h1>
    </div>
</div>

<div class="container mb-5 mb-5">
    <div class="row ">
        <div class="col-sm-4"><div class="text-info">* Scan text fields should not be editable </div></div>
        <div class="col-sm-4">
            <form method="get">
                <div>

                    <div class=" font-weight-bold" style=" text-align: center  "> Customer Login</div>
                    <div >
                        <button type="submit" class="border-0  bg-white" asp-controller="Customer" asp-action="CustomerDetails">
                            <img src="login.png"  style="width: 100%" alt="Image">
                        </button>
                    </div>
                    <div class=" text-center bg-white ">
                        <label asp-for="CustomerId">Scan CustomerId:</label>
                        <input type="text" asp-for="CustomerId" value="" />
                        @if (@Model.Error == 1)
                        {
                            <p class="text-danger">@Model.Message</p>
                        
                        }
                    </div>
               
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form method="get">
                <div >
                    <div class=" font-weight-bold" style="text-align: center">Order management </div>
                    <div >
                        <button type="submit" class="border-0 bg-white" asp-controller="Order" asp-action="OrderList">
                            <img src="order.png" style="width: 100%" alt="Image">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">

            <div >
                <div class=" font-weight-bold mb-5" style="text-align: center">Customer  management</div>
                <div >
                    <a asp-controller="Customer" asp-action="CustomerList">
                        <img src="Customers.png" style="width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div >
                <div class=" font-weight-bold" style="text-align: center">Stock  management</div>
                <div>
                    <a asp-controller="Product" asp-action="Index">
                        <img src="inventory.png"  style="width: 100%" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><br>

</body>
</html>