@model VivesRental.Model.Product


<h1>Create new product</h1>


<form method="post">

    <partial name="CreateProductPartial" model="Model"/>

    <input type="submit" class="btn btn-primary" value="opslaan"/>

</form>