@model VivesRental.Model.Product

    <div>
        <h3 style="text-align: center">Create new product</h3>
    </div>

<form method="post">

    <partial name="CreateProductPartial" model="Model"/>
    <div class="text-center">
    <input type="submit" class="btn-lg btn-success" value="Create product"/>
    </div>
</form>