@model ArticleViewModel

<form method="post">

    <label asp-for="Count">Aantal?</label>
    <input asp-for="Count" type="number" class="form-control"/>
    <input type="text" asp-for="ProductId" value="@Model.ProductId"/>

    <input  type="submit" class="btn btn-primary" value="Create" asp-controller="Article" asp-action= "CreateArticle"/>

</form>



@foreach (var article in Model.Articles)
{

    <div class="list-group">
        <p class="list-group-item list-group-item-action">   @article.Product    @article.Status</p>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@article.Id">Delete this Article</a>
    </div>

}